<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	useFlickr="false"
	galleryTitle=""
	textColor="rgba(255, 255, 255, 1)"
	thumbFrameColor="rgba(255, 255, 255, 0.5)"
	showOpenButton="true"
	showExpandButton="false"
	showThumbsButton="true"
	useThumbDots="false"
	useFullscreenExpand="false"

screenMode="auto"
frameWidth="2"
imagePadding="6"
imageTransitionType="fade"
showImageNumber="false"
showInfoButton="true"
maxThumbColumns="7"
showImageOverlay="never"
showSplashPage="never"
enableLooping="true">

	<image imageURL="images/_MG_2604.jpg" thumbURL="thumbs/_MG_2604.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Hortobágyi National Park, Puszta, Hungary.]]></title>
		<caption><![CDATA[July 30, 2015, 19:29. Canon EOS 70D, EF-S55-250mm f/4-5.6 IS II at 65 mm, 1/800 sec at f / 8.0, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_1768.jpg" thumbURL="thumbs/_MG_1768.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Tihany, Hungary.]]></title>
		<caption><![CDATA[July 28, 2015, 13:20. Canon EOS 70D,  at , 1/160 sec, ISO 1600.]]></caption>
	</image>
	<image imageURL="images/_MG_2327.jpg" thumbURL="thumbs/_MG_2327.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Hortobágyi National Park, Puszta, Hungary.]]></title>
		<caption><![CDATA[July 30, 2015, 17:33. Canon EOS 70D, EF-S55-250mm f/4-5.6 IS II at 55 mm, 1/320 sec at f / 6.3, ISO 200.]]></caption>
	</image>
	<image imageURL="images/_MG_2494.jpg" thumbURL="thumbs/_MG_2494.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Hortobágyi National Park, Puszta, Hungary.]]></title>
		<caption><![CDATA[July 30, 2015, 18:08. Canon EOS 70D, EF-S55-250mm f/4-5.6 IS II at 55 mm, 1/640 sec at f / 8.0, ISO 200.]]></caption>
	</image>
	<image imageURL="images/_MG_2804.jpg" thumbURL="thumbs/_MG_2804.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Aggtelek, Aggteleki Nemzeti Park, Hungary.]]></title>
		<caption><![CDATA[July 31, 2015, 17:22. Canon EOS 70D, EF-S18-55mm f/3.5-5.6 IS II at 21 mm, 1/125 sec at f / 4.0, ISO 12800.]]></caption>
	</image>
	<image imageURL="images/20120901-_MG_4064.jpg" thumbURL="thumbs/20120901-_MG_4064.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Albania.]]></title>
		<caption><![CDATA[September 01, 2012, 01:19. Canon EOS 1000D, EF-S18-55mm f/3.5-5.6 IS II at 50 mm, 1/320 sec at f / 8.0, ISO 100.]]></caption>
	</image>
	<image imageURL="images/20120820-_MG_3471.jpg" thumbURL="thumbs/20120820-_MG_3471.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Slovenia.]]></title>
		<caption><![CDATA[August 20, 2012, 06:58. Canon EOS 1000D, 55-200mm at 147 mm, 1.3 sec at f / 5.6, ISO 400.]]></caption>
	</image>
	<image imageURL="images/20120822-_MG_3539.jpg" thumbURL="thumbs/20120822-_MG_3539.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Soča, Slovenia.]]></title>
		<caption><![CDATA[August 22, 2012, 05:01. Canon EOS 1000D, EF-S18-55mm f/3.5-5.6 IS II at 34 mm, 1/100 sec at f / 6.3, ISO 800.]]></caption>
	</image>
	<image imageURL="images/20120823-_MG_3613.jpg" thumbURL="thumbs/20120823-_MG_3613.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Croatia.]]></title>
		<caption><![CDATA[August 23, 2012, 07:21. Canon EOS 1000D, 55-200mm at 62 mm, 25.0 sec at f / 9.0, ISO 400.]]></caption>
	</image>
	<image imageURL="images/20120825-_MG_3496.jpg" thumbURL="thumbs/20120825-_MG_3496.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Plitvice Lakes, Croatia.]]></title>
		<caption><![CDATA[August 25, 2012, 06:05. Canon EOS 1000D, EF-S18-55mm f/3.5-5.6 IS II at 18 mm, 1/30 sec at f / 3.5, ISO 800.]]></caption>
	</image>
	<image imageURL="images/20120910-_Group-12_-20120825-_MG_3600_20120825-_MG_3606-7-images.jpg" thumbURL="thumbs/20120910-_Group-12_-20120825-_MG_3600_20120825-_MG_3606-7-images.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Willkommen, Croatia.]]></title>
		<caption><![CDATA[September 10, 2012, 19:24. ,  at , , .]]></caption>
	</image>
	<image imageURL="images/20120825-_MG_3573.jpg" thumbURL="thumbs/20120825-_MG_3573.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Willkommen, Croatia.]]></title>
		<caption><![CDATA[August 25, 2012, 23:47. Canon EOS 1000D, 55-200mm at 86 mm, 1/640 sec at f / 8.0, ISO 100.]]></caption>
	</image>
	<image imageURL="images/20120829-_MG_3661.jpg" thumbURL="thumbs/20120829-_MG_3661.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Mostar, Bosnia and Herzegovina.]]></title>
		<caption><![CDATA[August 29, 2012, 00:03. Canon EOS 1000D, EF-S18-55mm f/3.5-5.6 IS II at 32 mm, 1/500 sec at f / 8.0, ISO 100.]]></caption>
	</image>
	<image imageURL="images/20120826-_MG_3767.jpg" thumbURL="thumbs/20120826-_MG_3767.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Croatia.]]></title>
		<caption><![CDATA[August 26, 2012, 05:14. Canon EOS 1000D, EF-S18-55mm f/3.5-5.6 IS II at 39 mm, 1/125 sec at f / 8.0, ISO 200.]]></caption>
	</image>
	<image imageURL="images/20120827-_MG_4069.jpg" thumbURL="thumbs/20120827-_MG_4069.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Croatia.]]></title>
		<caption><![CDATA[August 27, 2012, 05:35. Canon EOS 1000D, EF-S18-55mm f/3.5-5.6 IS II at 37 mm, 1/80 sec at f / 8.0, ISO 400.]]></caption>
	</image>
	<image imageURL="images/20120829-_MG_3734.jpg" thumbURL="thumbs/20120829-_MG_3734.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Bosnia and Herzegovina.]]></title>
		<caption><![CDATA[August 29, 2012, 04:07. Canon EOS 1000D, EF-S18-55mm f/3.5-5.6 IS II at 44 mm, 1/320 sec at f / 8.0, ISO 100.]]></caption>
	</image>
	<image imageURL="images/20121130-_Group-1_-20120907-_MG_3595_20120907-_MG_3596-2-images.jpg" thumbURL="thumbs/20121130-_Group-1_-20120907-_MG_3595_20120907-_MG_3596-2-images.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Slovenia.]]></title>
		<caption><![CDATA[November 30, 2012, 22:19. ,  at , , .]]></caption>
	</image>
	<image imageURL="images/20120908-_MG_3918.jpg" thumbURL="thumbs/20120908-_MG_3918.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Slovenia.]]></title>
		<caption><![CDATA[September 08, 2012, 18:25. Canon EOS 1000D, EF-S18-55mm f/3.5-5.6 IS II at 32 mm, 1/200 sec at f / 8.0, ISO 200.]]></caption>
	</image>
	<image imageURL="images/20120910-_Group-13_-20120826-_MG_3621_20120826-_MG_3632-12-images.jpg" thumbURL="thumbs/20120910-_Group-13_-20120826-_MG_3621_20120826-_MG_3632-12-images.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Croatia.]]></title>
		<caption><![CDATA[September 10, 2012, 19:25. ,  at , , .]]></caption>
	</image>
	<image imageURL="images/20120910-_Group-22_-20120826-_MG_3757_20120826-_MG_3762-6-images.jpg" thumbURL="thumbs/20120910-_Group-22_-20120826-_MG_3757_20120826-_MG_3762-6-images.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Croatia.]]></title>
		<caption><![CDATA[September 10, 2012, 19:39. ,  at , , .]]></caption>
	</image>
	<image imageURL="images/20121201-_Group-1_-20120830-_MG_3859_20120830-_MG_3865-7-images.jpg" thumbURL="thumbs/20121201-_Group-1_-20120830-_MG_3859_20120830-_MG_3865-7-images.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Albania.]]></title>
		<caption><![CDATA[December 01, 2012, 18:16. ,  at , , .]]></caption>
	</image>
	<image imageURL="images/20121201-_Group-7_-20120830-_MG_3920_20120830-_MG_3928-9-images.jpg" thumbURL="thumbs/20121201-_Group-7_-20120830-_MG_3920_20120830-_MG_3928-9-images.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Albania.]]></title>
		<caption><![CDATA[December 01, 2012, 18:28. ,  at , , .]]></caption>
	</image>
	<image imageURL="images/_Group_4_-_MG_7824__MG_7831-8_images.jpg" thumbURL="thumbs/_Group_4_-_MG_7824__MG_7831-8_images.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Komiza, Croatia.]]></title>
		<caption><![CDATA[November 11, 2011, 18:00. ,  at , , .]]></caption>
	</image>
	<image imageURL="images/_MG_7064.jpg" thumbURL="thumbs/_MG_7064.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Kremik, Croatia.]]></title>
		<caption><![CDATA[September 04, 2011, 20:05. Canon EOS 1000D,  at , 3.2 sec, ISO 200.]]></caption>
	</image>
	<image imageURL="images/_MG_7690.jpg" thumbURL="thumbs/_MG_7690.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Croatia.]]></title>
		<caption><![CDATA[September 07, 2011, 17:56. Canon EOS 1000D,  at , 1/4000 sec, ISO 100.]]></caption>
	</image>
	<image imageURL="images/_MG_7578.jpg" thumbURL="thumbs/_MG_7578.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Brac, Croatia.]]></title>
		<caption><![CDATA[September 06, 2011, 20:08. Canon EOS 1000D,  at , 3.2 sec, ISO 200.]]></caption>
	</image>
	<image imageURL="images/_MG_7485.jpg" thumbURL="thumbs/_MG_7485.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[near Brac, Croatia.]]></title>
		<caption><![CDATA[September 06, 2011, 19:23. Canon EOS 1000D,  at , 1/160 sec, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_7218.jpg" thumbURL="thumbs/_MG_7218.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[near Drvenik, Croatia.]]></title>
		<caption><![CDATA[September 05, 2011, 18:24. Canon EOS 1000D,  at , 1/500 sec, ISO 100.]]></caption>
	</image>
	<image imageURL="images/_MG_7567.jpg" thumbURL="thumbs/_MG_7567.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[near Brac, Croatia.]]></title>
		<caption><![CDATA[September 06, 2011, 19:46. Canon EOS 1000D,  at , 1/80 sec, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_MG_7124.jpg" thumbURL="thumbs/_MG_7124.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Firefighting Plane, Kremik, Croatia.]]></title>
		<caption><![CDATA[September 05, 2011, 10:13. Canon EOS 1000D,  at , 1/1250 sec, ISO 200.]]></caption>
	</image>
	<image imageURL="images/_MG_7607.jpg" thumbURL="thumbs/_MG_7607.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Brac, Croatia.]]></title>
		<caption><![CDATA[September 06, 2011, 22:21. Canon EOS 1000D,  at , 13.0 sec, ISO 100.]]></caption>
	</image>

</juiceboxgallery>
