<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	useFlickr="false"
	galleryTitle=""
	textColor="rgba(255, 255, 255, 1)"
	thumbFrameColor="rgba(255, 255, 255, 0.5)"
	showOpenButton="true"
	showExpandButton="false"
	showThumbsButton="true"
	useThumbDots="false"
	useFullscreenExpand="false"

screenMode="auto"
frameWidth="2"
imagePadding="6"
imageTransitionType="fade"
showImageNumber="false"
showInfoButton="true"
maxThumbColumns="7"
showImageOverlay="never"
showSplashPage="never"
enableLooping="true">

	<image imageURL="images/_mg_2515.jpg" thumbURL="thumbs/_mg_2515.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Turndown, Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[February 19, 2007, 19:58. Canon EOS 400D DIGITAL, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/60 sec at f / 4.0, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_mg_2539.jpg" thumbURL="thumbs/_mg_2539.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[360, Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[February 19, 2007, 20:32. Canon EOS 400D DIGITAL, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/60 sec at f / 4.0, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_mg_2955.jpg" thumbURL="thumbs/_mg_2955.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Footjam, Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[March 02, 2007, 20:38. Canon EOS 400D DIGITAL, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/60 sec at f / 3.5, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_mg_2989.jpg" thumbURL="thumbs/_mg_2989.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[March 02, 2007, 21:03. Canon EOS 400D DIGITAL, EF-S10-22mm f/3.5-4.5 USM at 18 mm, 1/40 sec at f / 4.5, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_mg_3021.jpg" thumbURL="thumbs/_mg_3021.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Air, Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[March 02, 2007, 21:45. Canon EOS 400D DIGITAL, EF75-300mm f/4-5.6 at 75 mm, 1.3 sec at f / 8.0, ISO 100.]]></caption>
	</image>
	<image imageURL="images/_mg_3040.jpg" thumbURL="thumbs/_mg_3040.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[March 03, 2007, 19:55. Canon EOS 400D DIGITAL, EF-S10-22mm f/3.5-4.5 USM at 12 mm, 1/60 sec at f / 3.5, ISO 800.]]></caption>
	</image>
	<image imageURL="images/perry_tailwhip_sw_vignette.jpg" thumbURL="thumbs/perry_tailwhip_sw_vignette.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Tailwhip Air, Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[March 03, 2007, 21:27. Canon EOS 400D DIGITAL, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/60 sec at f / 3.5, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_mg_3103.jpg" thumbURL="thumbs/_mg_3103.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Air, Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[March 03, 2007, 21:45. Canon EOS 400D DIGITAL, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/60 sec at f / 3.5, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_mg_3160.jpg" thumbURL="thumbs/_mg_3160.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Tailwhip Air, Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[March 03, 2007, 22:59. Canon EOS 400D DIGITAL, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 10.0 sec at f / 5.6, ISO 100.]]></caption>
	</image>
	<image imageURL="images/img-0033.jpg" thumbURL="thumbs/img-0033.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[270 Tailwhip, Perry Petermüller, Geltendorf]]></title>
		<caption><![CDATA[March 30, 2007, 17:50. Canon EOS 400D DIGITAL, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/500 sec at f / 6.3, ISO 200.]]></caption>
	</image>
	<image imageURL="images/img-0073.jpg" thumbURL="thumbs/img-0073.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Invert Air, Perry Petermüller, Geltendorf]]></title>
		<caption><![CDATA[March 30, 2007, 18:16. Canon EOS 400D DIGITAL, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/640 sec at f / 6.3, ISO 200.]]></caption>
	</image>
	<image imageURL="images/img-0232.jpg" thumbURL="thumbs/img-0232.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Invert Air, Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[March 31, 2007, 19:43. Canon EOS 400D DIGITAL, 18.0-125.0 mm at 38 mm, 0.3 sec at f / 7.1, ISO 200.]]></caption>
	</image>
	<image imageURL="images/img-7233.jpg" thumbURL="thumbs/img-7233.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Perry Petermüller, Obermenzing]]></title>
		<caption><![CDATA[April 21, 2007, 17:37. Canon EOS 400D DIGITAL, EF75-300mm f/4-5.6 at 170 mm, 1/400 sec at f / 7.1, ISO 100.]]></caption>
	</image>
	<image imageURL="images/img-7276.jpg" thumbURL="thumbs/img-7276.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Perry Petermüller, Obermenzing]]></title>
		<caption><![CDATA[April 21, 2007, 18:39. Canon EOS 400D DIGITAL, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/200 sec at f / 7.1, ISO 100.]]></caption>
	</image>
	<image imageURL="images/img-7286.jpg" thumbURL="thumbs/img-7286.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Perry Petermüller, Obermenzing]]></title>
		<caption><![CDATA[April 21, 2007, 18:49. Canon EOS 400D DIGITAL, EF75-300mm f/4-5.6 at 180 mm, 1/500 sec at f / 7.1, ISO 200.]]></caption>
	</image>
	<image imageURL="images/_MG_2761.jpg" thumbURL="thumbs/_MG_2761.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[February 05, 2008, 19:49. Canon EOS 40D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/80 sec at f / 3.5, ISO 1600.]]></caption>
	</image>
	<image imageURL="images/_MG_2971.jpg" thumbURL="thumbs/_MG_2971.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Fufano, Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[February 10, 2008, 16:18. Canon EOS 40D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/80 sec at f / 3.5, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_2996.jpg" thumbURL="thumbs/_MG_2996.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Turndown, Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[February 10, 2008, 16:35. Canon EOS 40D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/80 sec at f / 3.5, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_3333.jpg" thumbURL="thumbs/_MG_3333.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Footjam, Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[March 03, 2008, 17:56. Canon EOS 40D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/80 sec at f / 3.5, ISO 1000.]]></caption>
	</image>
	<image imageURL="images/img-0209.jpg" thumbURL="thumbs/img-0209.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Air, Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[March 31, 2007, 19:18. Canon EOS 400D DIGITAL, 18.0-125.0 mm at 51 mm, 1/50 sec at f / 5.0, ISO 1600.]]></caption>
	</image>
	<image imageURL="images/_MG_3510.jpg" thumbURL="thumbs/_MG_3510.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Perry Petermüller, Emmering]]></title>
		<caption><![CDATA[March 03, 2008, 19:04. Canon EOS 40D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/100 sec at f / 3.5, ISO 1600.]]></caption>
	</image>

</juiceboxgallery>
