<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	useFlickr="false"
	galleryTitle=""
	textColor="rgba(255, 255, 255, 1)"
	thumbFrameColor="rgba(255, 255, 255, 0.5)"
	showOpenButton="true"
	showExpandButton="false"
	showThumbsButton="true"
	useThumbDots="false"
	useFullscreenExpand="false"

screenMode="auto"
frameWidth="2"
imagePadding="6"
imageTransitionType="fade"
showImageNumber="false"
showInfoButton="true"
maxThumbColumns="7"
showImageOverlay="never"
showSplashPage="never"
enableLooping="true">

	<image imageURL="images/_MG_2079.jpg" thumbURL="thumbs/_MG_2079.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[November 14, 2018, 07:18. Canon EOS 70D, EF-S17-55mm f/2.8 IS USM at 17 mm, 1/125 sec at f / 8.0, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_MG_7359.jpg" thumbURL="thumbs/_MG_7359.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[January 01, 2018, 00:04. Canon EOS 70D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 5.0 sec at f / 7.1, ISO 400.]]></caption>
	</image>
	<image imageURL="images/20120918-_MG_1361.jpg" thumbURL="thumbs/20120918-_MG_1361.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Reunion, France]]></title>
		<caption><![CDATA[September 18, 2012, 06:37. Canon EOS 600D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/80 sec at f / 3.5, ISO 400.]]></caption>
	</image>
	<image imageURL="images/20120916-_MG_1310.jpg" thumbURL="thumbs/20120916-_MG_1310.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Reunion, France]]></title>
		<caption><![CDATA[September 16, 2012, 18:28. Canon EOS 600D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/50 sec at f / 3.5, ISO 3200.]]></caption>
	</image>
	<image imageURL="images/20120915-_MG_1082.jpg" thumbURL="thumbs/20120915-_MG_1082.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Reunion, France]]></title>
		<caption><![CDATA[September 15, 2012, 18:32. Canon EOS 600D, EF-S18-55mm f/3.5-5.6 IS II at 18 mm, 8.0 sec at f / 5.0, ISO 200.]]></caption>
	</image>
	<image imageURL="images/20120915-_MG_0948.jpg" thumbURL="thumbs/20120915-_MG_0948.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Reunion, France]]></title>
		<caption><![CDATA[September 15, 2012, 06:24. Canon EOS 600D, EF-S10-22mm f/3.5-4.5 USM at 16 mm, 1/60 sec at f / 4.5, ISO 400.]]></caption>
	</image>
	<image imageURL="images/20120410-_MG_0033.jpg" thumbURL="thumbs/20120410-_MG_0033.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[near Mount Cook, New Zealand]]></title>
		<caption><![CDATA[April 10, 2012, 07:26. Canon EOS 600D, EF-S10-22mm f/3.5-4.5 USM at 17 mm, 1/80 sec at f / 4.5, ISO 1600.]]></caption>
	</image>
	<image imageURL="images/20120406-_MG_0713.jpg" thumbURL="thumbs/20120406-_MG_0713.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Stewart Island, New Zealand]]></title>
		<caption><![CDATA[April 06, 2012, 19:48. Canon EOS 600D, EF-S18-55mm f/3.5-5.6 IS II at 23 mm, 1/200 sec at f / 3.5, ISO 400.]]></caption>
	</image>
	<image imageURL="images/20120403-_MG_3530.jpg" thumbURL="thumbs/20120403-_MG_3530.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Routeburn, New Zealand]]></title>
		<caption><![CDATA[April 03, 2012, 05:48. Canon EOS 1000D, EF-S18-55mm f/3.5-5.6 IS II at 18 mm, 1/30 sec at f / 3.5, ISO 1600.]]></caption>
	</image>
	<image imageURL="images/20120401-_MG_0002.jpg" thumbURL="thumbs/20120401-_MG_0002.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Fox Glacier, New Zealand]]></title>
		<caption><![CDATA[April 01, 2012, 06:22. Canon EOS 600D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 4.0 sec at f / 5.0, ISO 3200.]]></caption>
	</image>
	<image imageURL="images/20120318-_MG_0099.jpg" thumbURL="thumbs/20120318-_MG_0099.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Tongariro, New Zealand]]></title>
		<caption><![CDATA[March 18, 2012, 21:41. Canon EOS 600D, EF-S10-22mm f/3.5-4.5 USM at 14 mm, 1/200 sec at f / 4.0, ISO 400.]]></caption>
	</image>
	<image imageURL="images/20120315-_MG_0109.jpg" thumbURL="thumbs/20120315-_MG_0109.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Tongariro, New Zealand]]></title>
		<caption><![CDATA[March 15, 2012, 20:36. Canon EOS 600D, EF-S18-55mm f/3.5-5.6 IS II at 18 mm, 1/100 sec at f / 3.5, ISO 800.]]></caption>
	</image>
	<image imageURL="images/20120315-_MG_0149.jpg" thumbURL="thumbs/20120315-_MG_0149.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Tongariro, New Zealand]]></title>
		<caption><![CDATA[March 15, 2012, 06:51. Canon EOS 600D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/50 sec at f / 3.5, ISO 12800.]]></caption>
	</image>
	<image imageURL="images/20120310-_MG_0063.jpg" thumbURL="thumbs/20120310-_MG_0063.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Rotorua, New Zealand]]></title>
		<caption><![CDATA[March 10, 2012, 21:14. Canon EOS 600D, EF-S18-55mm f/3.5-5.6 IS II at 18 mm, 1/100 sec at f / 4.5, ISO 800.]]></caption>
	</image>
	<image imageURL="images/DSCN1007.jpg" thumbURL="thumbs/DSCN1007.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Hoher Kasten, Swiss Alps]]></title>
		<caption><![CDATA[April 24, 2011, 14:08. COOLPIX S630,  at 6.6 mm, 1/140 sec at f / 10, ISO 64.]]></caption>
	</image>
	<image imageURL="images/_MG_5388.jpg" thumbURL="thumbs/_MG_5388.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Crete]]></title>
		<caption><![CDATA[April 09, 2011, 07:25. Canon EOS 1000D, EF-S17-85mm f/4-5.6 IS USM at 26 mm, 1/100 sec at f / 4.5, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_4965.jpg" thumbURL="thumbs/_MG_4965.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Crete]]></title>
		<caption><![CDATA[April 06, 2011, 23:05. Canon EOS 1000D, EF-S17-85mm f/4-5.6 IS USM at 17 mm, 1/100 sec at f / 4.0, ISO 800.]]></caption>
	</image>
	<image imageURL="images/pano-257.jpg" thumbURL="thumbs/pano-257.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Mount Rigi, Switzerland]]></title>
		<caption><![CDATA[October 26, 2010, 16:34. ,  at , , .]]></caption>
	</image>
	<image imageURL="images/20140927-_MG_8572.jpg" thumbURL="thumbs/20140927-_MG_8572.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Monte Castellaro, Italy]]></title>
		<caption><![CDATA[September 27, 2014, 16:22. Canon EOS 600D, EF-S18-55mm f/3.5-5.6 IS II at 27 mm, 1/250 sec at f / 8.0, ISO 100.]]></caption>
	</image>
	<image imageURL="images/HW4P0004.jpg" thumbURL="thumbs/HW4P0004.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Train to Oslo, Norway]]></title>
		<caption><![CDATA[November 04, 2009, 06:49. Canon EOS-1D Mark II, 35.0-135.0 mm at 35 mm, 1/60 sec at f / 4.0, ISO 500.]]></caption>
	</image>
	<image imageURL="images/20130502-2013-05-02-05.03.09.jpg" thumbURL="thumbs/20130502-2013-05-02-05.03.09.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Mosque, Abu Dhabi Airport]]></title>
		<caption><![CDATA[May 02, 2013, 05:03. MB526,  at 4 mm, 1/15 sec at f / 2.8, ISO 93.]]></caption>
	</image>
	<image imageURL="images/_MG_3698.jpg" thumbURL="thumbs/_MG_3698.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Watzmann-Gugl, Germany]]></title>
		<caption><![CDATA[April 01, 2009, 07:06. Canon EOS 1000D, EF-S17-85mm f/4-5.6 IS USM at 17 mm, 1/100 sec at f / 8.0, ISO 100.]]></caption>
	</image>
	<image imageURL="images/_MG_2368.jpg" thumbURL="thumbs/_MG_2368.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Anaga, Tenerife]]></title>
		<caption><![CDATA[March 01, 2009, 08:32. Canon EOS 1000D, EF-S17-85mm f/4-5.6 IS USM at 41 mm, 1/40 sec at f / 5.0, ISO 800.]]></caption>
	</image>
	<image imageURL="images/pano-18.jpg" thumbURL="thumbs/pano-18.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Vorderunnütz, Austria]]></title>
		<caption><![CDATA[October 20, 2010, 22:52. ,  at , , .]]></caption>
	</image>
	<image imageURL="images/_MG_0700.jpg" thumbURL="thumbs/_MG_0700.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Seebergspitze, Austria]]></title>
		<caption><![CDATA[January 04, 2009, 07:39. Canon EOS 1000D, EF-S17-85mm f/4-5.6 IS USM at 17 mm, 1/30 sec at f / 4.0, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_MG_0583.jpg" thumbURL="thumbs/_MG_0583.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Vorderunnütz, Austria]]></title>
		<caption><![CDATA[January 03, 2009, 08:30. Canon EOS 1000D, EF-S17-85mm f/4-5.6 IS USM at 85 mm, 1/125 sec at f / 8.0, ISO 100.]]></caption>
	</image>
	<image imageURL="images/_MG_0186.jpg" thumbURL="thumbs/_MG_0186.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Ettaler Mandl, Germany]]></title>
		<caption><![CDATA[December 27, 2008, 08:33. Canon EOS 1000D, EF-S17-85mm f/4-5.6 IS USM at 26 mm, 1/30 sec at f / 7.1, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_0106.jpg" thumbURL="thumbs/_MG_0106.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Ettaler Mandl, Germany]]></title>
		<caption><![CDATA[December 20, 2008, 18:33. Canon EOS 1000D, EF-S17-85mm f/4-5.6 IS USM at 17 mm, 0.5 sec at f / 4.0, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_4001.jpg" thumbURL="thumbs/_MG_4001.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Rättvik, Sweden]]></title>
		<caption><![CDATA[September 24, 2008, 09:18. Canon EOS 40D, EF-S17-85mm f/4-5.6 IS USM at 20 mm, 1/320 sec at f / 6.3, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_3892.jpg" thumbURL="thumbs/_MG_3892.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Bus Stop, Funäsdalen, Sweden]]></title>
		<caption><![CDATA[September 22, 2008, 05:49. Canon EOS 40D, EF-S17-85mm f/4-5.6 IS USM at 17 mm, 1/60 sec at f / 4.0, ISO 1250.]]></caption>
	</image>
	<image imageURL="images/_MG_3318.jpg" thumbURL="thumbs/_MG_3318.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Funäsdalen, Sweden]]></title>
		<caption><![CDATA[September 19, 2008, 06:45. Canon EOS 40D, EF-S17-85mm f/4-5.6 IS USM at 17 mm, 1/100 sec at f / 4.0, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_MG_3154.jpg" thumbURL="thumbs/_MG_3154.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Ulvön, Sweden]]></title>
		<caption><![CDATA[September 16, 2008, 08:43. Canon EOS 40D, EF-S17-85mm f/4-5.6 IS USM at 17 mm, 1/125 sec at f / 8.0, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_2836.jpg" thumbURL="thumbs/_MG_2836.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Skuleberget, Sweden]]></title>
		<caption><![CDATA[September 14, 2008, 06:13. Canon EOS 40D, EF-S17-85mm f/4-5.6 IS USM at 17 mm, 1/30 sec at f / 4.0, ISO 500.]]></caption>
	</image>
	<image imageURL="images/_MG_2685.jpg" thumbURL="thumbs/_MG_2685.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Stockholm, Sweden]]></title>
		<caption><![CDATA[September 12, 2008, 07:11. Canon EOS 40D, EF-S17-85mm f/4-5.6 IS USM at 17 mm, 1/60 sec at f / 8.0, ISO 500.]]></caption>
	</image>
	<image imageURL="images/_MG_2532.jpg" thumbURL="thumbs/_MG_2532.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Hochiß, Achensee, Austria]]></title>
		<caption><![CDATA[September 03, 2008, 06:29. Canon EOS 40D, EF-S17-85mm f/4-5.6 IS USM at 17 mm, 1/30 sec at f / 6.3, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_MG_1949.jpg" thumbURL="thumbs/_MG_1949.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Zugspitze, Germany]]></title>
		<caption><![CDATA[August 07, 2008, 05:23. Canon EOS 40D, EF-S17-85mm f/4-5.6 IS USM at 17 mm, 0.8 sec at f / 4.0, ISO 1600.]]></caption>
	</image>
	<image imageURL="images/_MG_0473.jpg" thumbURL="thumbs/_MG_0473.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Jochberg, Germany]]></title>
		<caption><![CDATA[May 12, 2008, 21:46. Canon EOS 40D, EF-S10-22mm f/3.5-4.5 USM at 16 mm, 4.0 sec at f / 4.0, ISO 500.]]></caption>
	</image>
	<image imageURL="images/_MG_6878.jpg" thumbURL="thumbs/_MG_6878.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Sydney Airport, Australia]]></title>
		<caption><![CDATA[September 02, 2007, 07:19. Canon EOS 400D DIGITAL, 18.0-125.0 mm at 18 mm, 1/50 sec at f / 3.5, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_MG_2631.jpg" thumbURL="thumbs/_MG_2631.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Ghettomobil, Australia]]></title>
		<caption><![CDATA[July 02, 2007, 11:43. Canon EOS 400D DIGITAL, 18.0-125.0 mm at 21 mm, 1/400 sec at f / 3.5, ISO 400.]]></caption>
	</image>
	<image imageURL="images/DSC01623.jpg" thumbURL="thumbs/DSC01623.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Ghettomobil, Australia]]></title>
		<caption><![CDATA[June 24, 2007, 12:22. DSC-F828,  at 11.2 mm, 1/50 sec at f / 2.2, ISO 64.]]></caption>
	</image>
	<image imageURL="images/pano-38.jpg" thumbURL="thumbs/pano-38.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Pico Teide, Tenerife]]></title>
		<caption><![CDATA[November 16, 2014, 10:10. ,  at , , .]]></caption>
	</image>
	<image imageURL="images/20140920-_MG_8192.jpg" thumbURL="thumbs/20140920-_MG_8192.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Dune du Pilat, France]]></title>
		<caption><![CDATA[September 20, 2014, 10:04. Canon EOS 600D, 10-17mm at 10 mm, 1/100 sec at f / 8.0, ISO 100.]]></caption>
	</image>
	<image imageURL="images/20140924-_MG_8523.jpg" thumbURL="thumbs/20140924-_MG_8523.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Dune du Pilat, France]]></title>
		<caption><![CDATA[September 24, 2014, 08:50. Canon EOS 600D, EF-S55-250mm f/4-5.6 IS II at 116 mm, 1/400 sec at f / 5.0, ISO 1600.]]></caption>
	</image>
	<image imageURL="images/_MG_1904.jpg" thumbURL="thumbs/_MG_1904.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[July 29, 2015, 08:49. Canon EOS 70D, EF-S18-55mm f/3.5-5.6 IS II at 18 mm, 1/500 sec at f / 8.0, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_5749.jpg" thumbURL="thumbs/_MG_5749.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[June 18, 2015, 17:16. Canon EOS 600D,  at 50 mm, 1/800 sec, ISO 200.]]></caption>
	</image>
	<image imageURL="images/_MG_5010.jpg" thumbURL="thumbs/_MG_5010.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[June 03, 2015, 17:51. Canon EOS 600D,  at 50 mm, 1/200 sec, ISO 200.]]></caption>
	</image>
	<image imageURL="images/_MG_4944.jpg" thumbURL="thumbs/_MG_4944.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[June 03, 2015, 05:58. Canon EOS 600D,  at 50 mm, 1/250 sec, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_3281.jpg" thumbURL="thumbs/_MG_3281.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 14, 2015, 20:03. Canon EOS 70D, EF-S18-55mm f/3.5-5.6 IS II at 18 mm, 1/320 sec at f / 8.0, ISO 400.]]></caption>
	</image>
	<image imageURL="images/20150815-2015-08-15_10.32.59.jpg" thumbURL="thumbs/20150815-2015-08-15_10.32.59.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 15, 2015, 10:32. Nexus 5,  at 3.97 mm, 1/120 sec at f / 2.4, ISO 107.]]></caption>
	</image>
	<image imageURL="images/20150821-2015-08-21_20.10.31.jpg" thumbURL="thumbs/20150821-2015-08-21_20.10.31.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 21, 2015, 20:10. Nexus 5,  at 3.97 mm, 1/60 sec at f / 2.4, ISO 112.]]></caption>
	</image>
	<image imageURL="images/_MG_4269.jpg" thumbURL="thumbs/_MG_4269.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 22, 2015, 19:46. Canon EOS 70D, EF-S10-22mm f/3.5-4.5 USM at 16 mm, 1/200 sec at f / 8.0, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_4275.jpg" thumbURL="thumbs/_MG_4275.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 22, 2015, 19:48. Canon EOS 70D, EF-S55-250mm f/4-5.6 IS II at 65 mm, 1/500 sec at f / 8.0, ISO 1600.]]></caption>
	</image>
	<image imageURL="images/_MG_4481.jpg" thumbURL="thumbs/_MG_4481.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 23, 2015, 20:21. Canon EOS 70D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/80 sec at f / 8.0, ISO 200.]]></caption>
	</image>
	<image imageURL="images/_MG_4492.jpg" thumbURL="thumbs/_MG_4492.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 23, 2015, 23:01. Canon EOS 70D, EF-S10-22mm f/3.5-4.5 USM at 14 mm, 30.0 sec at f / 4.0, ISO 400.]]></caption>
	</image>
	<image imageURL="images/20150826-2015-08-26_20.21.33.jpg" thumbURL="thumbs/20150826-2015-08-26_20.21.33.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 26, 2015, 20:21. Nexus 5,  at 3.97 mm, 1/30 sec at f / 2.4, ISO 779.]]></caption>
	</image>
	<image imageURL="images/DSC03036.jpg" thumbURL="thumbs/DSC03036.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[September 03, 2015, 07:49. ,  at , , .]]></caption>
	</image>
	<image imageURL="images/20160124-2016-01-24_07.23.24.jpg" thumbURL="thumbs/20160124-2016-01-24_07.23.24.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[January 24, 2016, 07:23. KC-S701,  at 4 mm, 1/8 sec at f / 2.4, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_MG_7833.jpg" thumbURL="thumbs/_MG_7833.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[January 30, 2016, 17:36. Canon EOS 70D, EF-S17-55mm f/2.8 IS USM at 48 mm, 1/4 sec at f / 8.0, ISO 100.]]></caption>
	</image>
	<image imageURL="images/_MG_1463.jpg" thumbURL="thumbs/_MG_1463.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[July 16, 2016, 20:40. Canon EOS 70D, EF-S17-55mm f/2.8 IS USM at 17 mm, 0.3 sec at f / 7.1, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_MG_2356.jpg" thumbURL="thumbs/_MG_2356.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 16, 2016, 07:48. Canon EOS 70D, EF-S10-22mm f/3.5-4.5 USM at 12 mm, 1/60 sec at f / 4.0, ISO 3200.]]></caption>
	</image>
	<image imageURL="images/_MG_2458.jpg" thumbURL="thumbs/_MG_2458.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 17, 2016, 09:03. Canon EOS 70D, EF-S17-55mm f/2.8 IS USM at 17 mm, 1/40 sec at f / 6.3, ISO 1600.]]></caption>
	</image>
	<image imageURL="images/20161125-2016-11-25_09.15.18.jpg" thumbURL="thumbs/20161125-2016-11-25_09.15.18.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[November 25, 2016, 09:15. KC-S701,  at 4 mm, 1/140 sec at f / 2.4, ISO 100.]]></caption>
	</image>
	<image imageURL="images/_MG_1929.jpg" thumbURL="thumbs/_MG_1929.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 20, 2017, 08:00. Canon EOS 70D, EF-S18-55mm f/3.5-5.6 IS II at 18 mm, 1/640 sec at f / 8.0, ISO 200.]]></caption>
	</image>
	<image imageURL="images/_MG_1482.jpg" thumbURL="thumbs/_MG_1482.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 17, 2017, 20:21. Canon EOS 70D, EF-S18-55mm f/3.5-5.6 IS II at 18 mm, 1/320 sec at f / 6.3, ISO 800.]]></caption>
	</image>
	<image imageURL="images/_MG_1623.jpg" thumbURL="thumbs/_MG_1623.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 19, 2017, 07:40. Canon EOS 70D, EF-S18-55mm f/3.5-5.6 IS II at 18 mm, 1/320 sec at f / 8.0, ISO 100.]]></caption>
	</image>
	<image imageURL="images/_MG_2582.jpg" thumbURL="thumbs/_MG_2582.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 27, 2017, 06:23. Canon EOS 70D, EF-S18-55mm f/3.5-5.6 IS II at 18 mm, 1/160 sec at f / 8.0, ISO 3200.]]></caption>
	</image>
	<image imageURL="images/_MG_2883.jpg" thumbURL="thumbs/_MG_2883.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[August 28, 2017, 07:16. Canon EOS 70D, EF-S18-55mm f/3.5-5.6 IS II at 32 mm, 1/200 sec at f / 9.0, ISO 100.]]></caption>
	</image>
	<image imageURL="images/_MG_5955.jpg" thumbURL="thumbs/_MG_5955.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[September 02, 2017, 06:45. Canon EOS 70D, EF-S18-55mm f/3.5-5.6 IS II at 21 mm, 1/400 sec at f / 8.0, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_7348.jpg" thumbURL="thumbs/_MG_7348.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Kappl]]></title>
		<caption><![CDATA[December 31, 2017, 23:59. Canon EOS 70D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 13.0 sec at f / 7.1, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_7090.jpg" thumbURL="thumbs/_MG_7090.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[April 15, 2019, 07:24. Canon EOS 70D, EF-S17-55mm f/2.8 IS USM at 17 mm, 1/400 sec at f / 8.0, ISO 400.]]></caption>
	</image>
	<image imageURL="images/_MG_9875.jpg" thumbURL="thumbs/_MG_9875.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[October 14, 2018, 10:04. Canon EOS 70D, EF-S10-22mm f/3.5-4.5 USM at 10 mm, 1/320 sec at f / 8.0, ISO 100.]]></caption>
	</image>

</juiceboxgallery>
